.ui-notification {
    min-height: 88px;
    display: flex;
    align-items: center;
    min-width: 300px;
    position: fixed;
    right: -100%;
    top: 10px;
    z-index: 9999;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    transition: all 0.5s;
    .msg{
        font-size: 26px;
        color: #333;
        margin-left: 20px;
    }
    .close-btn{
        width: 22px;
        height: 22px;
        flex: 0 0 22px;
        padding: 20px;
    }
}
.ui-notification.biubiubiu{
    right: 20px;
}
