.disconnect {
    text-align: center;
    padding-top: 240px;
    image {
        width: 182px;
        height: 180px;
    }
    view {
        color: #B5B8BA;
        text {
            color: #007aff;
        }
    }
}
