.page-footer {
    .no-more {
        text-align: center;
        color: #6d7175;
        padding: 28px 0;
        font-size: 24px;
    }
    .no-data {
        text-align: center;
        padding-top:50%;
        image{
            width: 90px;
            height: 180px;
        }
        .text {  
            color: #B5B8BA;
            padding: 18px 0;
        }
    }
    .spinner {
        margin: 0 auto;
        width: 150px;
        text-align: center;
        position: fixed;
        left: 50%;
        margin-left: -75px;
        top: 50%;
        z-index: 99;
        view {
            width: 30px;
            height: 30px;
            background-color: rgba($color: #000, $alpha: 0.2);
            border-radius: 100%;
            display: inline-block;
            animation: bouncedelay 1.4s infinite ease-in-out;
            animation-fill-mode: both;
        }
        .bounce1 {
            animation-delay: -0.32s;
        }
        .bounce2 {
            animation-delay: -0.16s;
        }
    }

    @keyframes bouncedelay {
        0%,
        80%,
        100% {
            transform: scale(0);
        }
        40% {
            transform: scale(1);
        }
    }
}
