.spile-detail-a {
    padding: 0 30px;
    position: relative;
    .login-btn{
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
    .item {
        display: flex;
        align-items: center;
        height: 100px;
        .name {
            width: 200px;
            color: #6d7175;
        }
        .s1 {
            color: #55baa8;
        }
        .s2 {
             color: #3292ff;
        }
        .s3 {
             color: #f1a23b;
        }
        .s5 {
            color: #F2676D;
        }
        .s6 {
            color: #83B459;
        }
        .s7 {
            color: #FC8D5A;
        }
        .undefined{
            color: #6d7175;
        }
        .link {
            display: flex;
            align-items: center;
            margin-left: auto;
            .text {
                color: #007aff;
                margin-right: 20px;
            }
            .more {
                width: 10px;
                height: 16px;
            }
        }
    }
    .bd1 {
        border-bottom: 1px #e2e2e2 solid;
    }
    .ui-button {
        width: 60%;
        margin: 100px auto;
    }
    .ui-button.g {
        background:rgba(216,216,216,1);
    }
}
